@model nemesis.ViewModels.ReportViewModel

@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <div class="report-headers row">
        <h1 class="report-title">
            @Html.DisplayFor(model => model.Title) <br />
        </h1>
        <h2 class="category">
            Category: @Html.DisplayFor(model => model.Category.Name)
        </h2>
    </div>

    <div>
        <hr/>

        <div class="row">
            <img class="col" src="@Model.ImageUrl" alt="Image for @Model.Title" />
        </div>

        <dl class="row">

            

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Location)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Location)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateSpotted)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateSpotted)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateOfReport)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateOfReport)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InvestigationId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InvestigationId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Upvotes)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Upvotes)
            </dd>
        </dl>
    </div>
    <hr />

    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a class="btn btn-secondary" href="@Url.Action("Index", "Reports")">Back</a>
        <a class="btn btn-secondary" href="@Url.Action("Investigation", "Reports", new { Id = Model.Id })">Submit Investigation</a>
    </div>


</div>
