@using Microsoft.AspNetCore.Identity;
@model nemesis.ViewModels.EditInvestigationViewModel
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Edit Investigation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="EditInvestigation" class="text-left" method="post" enctype="multipart/form-data">
    <h1 class="report-headers">New Investigation</h1>
    <h3>Report ID: @Model.ReportId</h3>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="DateOfAction" class="control-label"></label>
        <label asp-for="DateOfAction" class="control-label requiredMarker">*</label>
        <div class="date-picker">
            <input asp-for="DateOfAction" class="form-control" />
        </div>
        <span asp-validation-for="DateOfAction" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <label asp-for="Description" class="control-label requiredMarker">*</label>
        <textarea asp-for="Description" class="form-control" required></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StatusId" class="control-label"></label>
        <label asp-for="StatusId" class="control-label requiredMarker">*</label>
        <div class="col-md-5">
            <select asp-for="StatusId" class="category-picker"
                    asp-items="@(new SelectList(Model.Statuses,"Id","Name"))">
            </select>
            <span asp-validation-for="StatusId" class="text-danger"></span>
        </div>
    </div>


    <div>
        <!--TODO-->
        Include phone number in Report: @Html.CheckBox("isActive", true)
    </div>

    <input type="hidden" name="reportId" value="@Model.ReportId" />
    <div class="form-group">
        <a asp-controller="Reports" asp-action="Details" asp-route-id="@Model.ReportId" class="btn btn-secondary">Back</a>
        @if (User.Identity.IsAuthenticated && User.IsInRole("Investigator"))
        {
            <input type="submit" value="Update" class="btn btn-primary" />
        }
       
    </div>
</form>

@*Inject JQuery validation scripts in Layout*@
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}