@model ReportsListViewModel

@{
    ViewData["Title"] = "Recent Reports";
}

<h1>@ViewData["Title"]</h1>

<h2>Showing @Model.TotalReports Reports</h2>
<div class="row">
   
        <table class="reports-table">
            <tr>
                <th>Report Number</th>
                <th>Report Name</th>
                <th>Upvotes</th>
                <th>Location</th>
                <th>Hazard Type</th>
                <th>Date</th>
            </tr>
        @foreach (var report in Model.Reports)
        {
            <tr>
                <td>@report.Id</td>
                <td>
                    <a asp-action="Details" asp-route-id="@report.Id">
                    @report.Title
                    </a>
                </td>
                <td>@report.Upvotes</td>
                <td>@report.Location</td>
                <td>@report.CategoryId</td>
                <td>@report.DateOfReport.ToShortDateString()</td>
            </tr>
        }
        </table>
    
</div>
