@model ReportsListViewModel

@{
    ViewData["Title"] = "Recent Reports";
}

<div class="report-headers">
    <h1>@ViewData["Title"]</h1>
    <h2>Showing @Model.TotalReports Reports</h2>
</div>

   
<div class="table-container">
    <table class="reports-table">
        <tr class="report-headers">
            <th class="header-container"> # </th>
            <th>Report Name</th>
            <th>
                <div class="header-container">
                    <img src="/images/Upvote.png" class="upvote" alt="Upvotes">
                </div>
            </th>
            <th>Location</th>
            <th>Type</th>
            <th class="header-container">Date</th>
            <th>Details</th>

        </tr>
    @foreach (var report in Model.Reports)
    {
        <tr>
            <td class="report-num">@report.Id</td>
            <td class="report-column">@report.Title</td>
            <td class="report-column">@report.Upvotes</td>
            <td class="report-column">@report.Location</td>
            <td class="report-num">@report.CategoryId</td>
            <td>@report.DateOfReport.ToShortDateString()</td>
            <td class="image-center">
                <a asp-action="Details" asp-route-id="@report.Id">
                    <img src="/images/Details.png" class="details-image" alt="Upvotes">
                </a>
            </td>
        </tr>
    }
    </table> 
</div>
    
