@model ReportsListViewModel

@{
    ViewData["Title"] = "Recent Reports";
}

<div class="report-headers">
    <h1>@ViewData["Title"]</h1>
    <h2>@Model.TotalReports Total Reports Found</h2>
    <h3>Displaying 10 most recent reports</h3>
</div>


@*filters*@
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Fitlers
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <form method="get" asp-action="Index" enctype="multipart/form-data">

                <div class="form-group">
                    <label asp-for="Filter.Location"></label>
                    <select class="form-control" id="Location" asp-for="Filter.Location">
                        <option value="">All Locations</option>
                        @foreach (var location in Model.FilterSelectionAllLocations)
                        {
                            <option value="@location">@location</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="Filter.Reporter"></label>
                    <select class="form-control" id="Reporter" asp-for="Filter.Reporter">
                        <option value="">All Reporters</option>
                        @foreach (var reporter in Model.FilterSelectionAllReporters)
                        {
                            <option value="@reporter">@reporter</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="Filter.Category"></label>
                    <select class="form-control" id="Category" asp-for="Filter.Category">
                        <option value="">All Categories</option>
                        @foreach (var category in Model.FilterSelectionAllCategories)
                        {
                            <option value="@category">@category</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="Filter.Status"></label>
                    <select class="form-control" id="Status" asp-for="Filter.Status">
                        <option value="">All Status</option>
                        @foreach (var status in Model.FilterSelectionAllStatus)
                        {
                            <option value="@status">@status</option>
                        }
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Apply filters</button>
            </form>

        </div>
    </div>
</div>


<div>
    <a asp-controller="Reports" asp-action="Create" class="btn btn-secondary">Create New Report</a>

    <!--10 report based pagination buttons-->
    <div class="pagination">
        @if (Model.TotalReports > Model.ReportsPerPage)
        {
            @if (Model.CurrentPage > 1)
            {
                <form asp-action="Index" method="get">
                    <input type="hidden" name="currentPage" value="@(Model.CurrentPage - 1)" />
                    <input type="hidden" name="filter.Location" value="@Model.Filter.Location" />
                    <input type="hidden" name="filter.Reporter" value="@Model.Filter.Reporter" />
                    <input type="hidden" name="filter.Category" value="@Model.Filter.Category" />
                    <input type="hidden" name="filter.Status" value="@Model.Filter.Status" />
                    <button type="submit" class="btn btn-secondary">Previous</button>
                </form>
            }

            @if (Model.CurrentPage < Model.TotalPages)
            {
                <form asp-action="Index" method="get">
                    <input type="hidden" name="currentPage" value="@(Model.CurrentPage + 1)" />
                    <input type="hidden" name="filter.Location" value="@Model.Filter.Location" />
                    <input type="hidden" name="filter.Reporter" value="@Model.Filter.Reporter" />
                    <input type="hidden" name="filter.Category" value="@Model.Filter.Category" />
                    <input type="hidden" name="filter.Status" value="@Model.Filter.Status" />
                    <button type="submit" class="btn btn-secondary">Next</button>
                </form>
            }

        }
</div>

<!-- Table Headers-->
<div class="table-container">
    <table class="reports-table">
        <tr class="report-headers">
            <th>Report Name</th>
            <th>
                <div class="header-container">
                    <img src="/images/Upvote.png" class="upvote" alt="Upvotes">
                </div>
            </th>
            <th>Location</th>
            <th class="report-column">Type</th>
            <th class="header-container">Date</th>
            <th class="report-column">Reported by</th>
            <th>Details</th>
        </tr>

        <!-- Table Rows-->
        @foreach (var report in Model.Reports)
        {
            <tr>
                <td class="report-column">@report.Title</td>
                <td class="report-column">@report.Upvotes.Count</td>
                <td class="report-column">@report.Location</td>
                <td class="report-column">@report.Category.Name</td>
                <td>@report.DateOfReport.ToShortDateString()</td>
                <td class="report-column">@report.CreatedByUser.UserName</td>
                <td class="image-center">
                    <a asp-action="Details" asp-route-id="@report.Id">
                        <img src="/images/Details.png" class="details-image" alt="Details">
                    </a>
                </td>
            </tr>
        }
    </table>
</div>
</div>
