@model nemesis.ViewModels.InvestigationViewModel

@{
    ViewData["Title"] = "Current Investigation";
}
<div class="container">
    <div class="report-headers row">
        <h1 class="report-title">
            Latest Update: @Html.DisplayFor(model => model.DateOfAction) <br />
        </h1>
        <h2 class="category">
            Current Status: @Html.DisplayFor(model => model.Status.Name)
        </h2>
    </div>

    <div>
        <hr />

        <dl class="row">

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InvestigatorId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InvestigatorUsername)
            </dd>
        </dl>
    </div>
    <hr />

    <div>
        <a asp-action="EditInvestigation" asp-route-id="@Model?.Id">Edit</a> |
        <a class="btn btn-secondary" href="@Url.Action("Details", "Reports", new { id = Model.ReportId })">Back</a>
    </div>
</div>
