@model HallOfFameViewModel

@{
    ViewData["Title"] = "Top 3 Reporters";
}

<h1 class="report-headers">@ViewData["Title"]</h1>

<div class="row">
    <table class="reports-table">
        <tr>
            <th>Name</th>
            <th>Reports</th>
            <th>Most Upvoted Report</th>
        </tr>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.User.UserName</td>
                <td>@user.ReportCount</td>
                <td>
                    <a class="title-link" asp-controller="Reports" asp-action="Details" asp-route-id="@user.MostUpvotedReport.Id">
                        <div class="report-name">@user.MostUpvotedReport.Title</div>
                    </a>
               </td>
            </tr>
        }
    </table>
</div>